# Dependencies
node_modules/

# Expo
.expo/
dist/
expo-env.d.ts

# Native builds
ios/
android/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs & signing credentials
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.keystore
google-services-key.json
google-services.json

# Metro
.metro-health-check*

# Testing
coverage/
